* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}


body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  background: rgb(247, 247, 247);
}

h2 {
  margin-bottom:0.3em;
}

header {
  background: #4B79A1;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1E53A7, #015DAE);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1E53A7, #015DAE);

  margin:0;
  padding:20px;
  color:white;
  margin-bottom:20px;
}

h1,h2,h3,h4 {
  color:rgb(0, 51, 95);
}


header h1 {
  font-size:180%;
  color:white;
  text-align: center;
}

.wrap {
  max-width:700px;
  width:100%;
  margin:0 auto;
  padding-left:15px;
  padding-right:15px;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.searchContainer {
  margin:0 auto;
  width:400px;
  max-width:100%
}

input[type=text] {
  padding: 13px 25px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid rgb(197, 197, 197);
  border-right:none;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  width:80%;
  margin-bottom:30px;
}

input[type=text]:focus {
  border: 1px solid rgb(0, 135, 255);
  transition: ease-in-out 0.2s;
  box-shadow: 0px 6px 6px 0px rgba(3, 58, 240, 0.08);
}

#search-button {
  width:15%;
  padding:14px 20px;
  border-top-right-radius:22px;
  border-bottom-right-radius:22px;
  color:white;
  cursor:pointer;
  background:rgb(0, 135, 255);
  box-shadow: 0px 6px 6px 0px rgba(3, 58, 240,0.05);
}

#search-button:hover {
  background:rgb(0, 112, 211);
  transition: ease-in 0.1s;
}

#search-button:active {
  background:rgb(1, 106, 197);
  transition: ease 0.1s;
}

.error {
  text-align:center;
  padding:10px;
}


.results {
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom:15px;
}

.resultCard {
  border: 1px solid;
  border-color:rgb(196, 196, 196);
  border-radius:3px;
  padding:15px 10px;
  margin-bottom:10px;
  width:500px;
  max-width:100%;
  cursor:pointer;
  color:#0366d6;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.05);
  transition: all ease-in 0.1s;
}

.resultCard:hover {
  text-decoration: underline;
  background: rgb(243, 243, 243);
}

.resultCard:active {
  background:rgb(0, 135, 255);
  border-color:rgb(0, 135, 255);
  color:white;
}

.arrow {
  float:right;
  margin-right:5px;
}

.commitCard {
  border: 1px solid;
  border-color:rgb(196, 196, 196);
  border-radius:3px;
  padding:15px 10px;
  margin-bottom:10px;
  max-width:95%;
  width:500px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.05);
}

.commitCard h4 {
  overflow-wrap: break-word;
  font-size:0.95em;
}

.commitCard img {
  width:30px;
  float:left;
  margin-top:6px;
  margin-right:10px;
  border-radius:3px;
  font-size:7px;
}

.backBtn {
  font-size:23px;
  background:transparent;
  padding:6px 10px;
  border-radius:20px;
  margin-bottom:20px;
}

.backBtn:hover {
  background:rgb(0, 135, 255);
  color:white;
  cursor: pointer;
  transition: ease-in 0.1s;
}

.backBtn:active {
  background:rgb(0, 97, 182);
  transition: ease 0.1s;
}

.spinner {
  color:rgb(0, 135, 255);
}

.spinnercont {
  text-align: center;
}

.navWrap {
  margin-bottom:30px;
}

.pageBtn {
  padding:12px;
  background:rgb(0, 135, 255);
  color:white;
  border-radius: 10px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.05);
  transition: all ease-in 0.1s;
}

.pageBtn:hover {
  background:rgb(0, 112, 211);
  cursor: pointer;
}

.pageBtn:active {
  background:rgb(88, 88, 88);
}

.pageNum {
  color:rgb(136, 136, 136);
  font-weight: bold;
  float:left;
  padding:10px 12px;
  margin-right:10px;
}

.prev {
  float:left;
  margin-right:10px;
}
.next {
  float:right;
}


@media only screen and (max-width: 600px) {
  .wrap {
    max-width:100%;
    width:85%;
    padding:0;
  }

  input[type=text] {
    font-size:0.9em;
  }

  .resultCard {
    width:80vw;
    max-width:100%;
  }
  .commitCard {
    width:80vw;
  }

  .searchContainer {
    width:100%;
  }

  .repositoriesContainer {
    width:100%;
  }

  input[type=text] {
    width:82%;
  }

  #search-button {
    width:18%;
    padding-bottom:14px;
    padding-top:16px;
  }
}